<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <a class="navbar-brand" routerLink="/"><img class="nav-section" src="assets/icon.png" alt="" width="32" height="32">
  </a>        
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-section">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/products" routerLinkActive="active"><i class="fas fa-tshirt"></i> Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Add product</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
        <li class="">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Acceder</a>
        </li>
        <li class="">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Registrarse</a>
        </li>
      </ng-container>
      <ng-template #loggedIn>
        <li><a class="nav-link" routerLink="/profile" routerLinkActive="active">Perfil</a></li>
        <li><a class="nav-link" (click)="logOut()" style="cursor: pointer;">Salir</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
