/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e5e5f7;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#9779b5 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #9779b5 0.8px, #e5e5f7 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}
.form-signin {
    min-width: 400px;
    display: inline-block;
}
.nav-section{
    /* margin-left: 15px;
    margin-right: 15px; */
    
}
.main-logo{
   
}
.main-logo img{
    width: 80px;
    height: 80px;
    border: 2px solid white;
}
.nav-item i{
    margin-right: 7px !important;
}
.bg-dark{
    background-color: #372142a1 !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(10px);
}
.bg-secondary{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
/*    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px;*/
}
.image-gallery-item{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
/*    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px;*/
}
.maintitle{
    margin-top: 30px;
}