<div class="text-center">
    <img class="mb-4" src="assets/icon.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
    <form (submit)="submit()">
        <div class="form-group">
            <input type="text" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Username" required autofocus>
            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required autofocus>
            <button type="submit" class="btn btn-primary btn-block">Create User</button>
        </div>
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </form>
</div>